

 <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Kevin Lokoka</h5>
          <a href="#" class="btn btn-primary">Voir</a>      
          <a href="#" class="btn btn-success">Modifier</a>
          <a href="#" class="btn btn-danger">Supprimer</a>
        </div>
      </div>
    </div>
  </div>